/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* purgecss end ignore */

.animate-pulsepfp {
    animation: 10s cubic-bezier(.4, 0, .6, 1) infinite pulse;
}

.top-land {
    font-family: 'Inter', sans-serif;
}

.card-actions > .btn {
    @apply bg-purple-500 text-white border-purple-600;
}

.tooltip:hover::before, .tooltip:hover::after {
    opacity: 1;
    transition-delay: 75ms;
    text-transform: none!important;
  }

  .tooltip {
    text-transform: none!important;
  }

.card-tools {
    height: 350px;
    margin-top: 3rem;
}

section {
    width: 100%;
}

.card-tools > div {
    margin-bottom: auto;
    margin-top: auto;
}
