/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* purgecss end ignore */

.card-tools {
    height: 350px;
    margin-top: 3rem;
}

section {
    width: 100%;
}

.card-tools > div {
    margin-bottom: auto;
    margin-top: auto;
}
