@media (max-width: 1200px) {
  .text1 {
    font-size: 60px;
  }
}

@media (max-width: 992px) {
  .text1 {
    font-size: 55px;
  }
}

@media (max-width: 768px) {
  .text1 {
    font-size: 45px;
  }
}

@media (max-width: 576px) {
  .text1 {
    font-size: 40px;
  }
}

@media (max-width: 360px) {
  .text1 {
    font-size: 35px;
  }
}
@media (min-width: 1400px) {
  .container.center {
    position: absolute;
    top: 15%;
    left: 50%;
    margin-top: 20%;
    transform: translate(-50%, -50%);
  }
}

.jumbotron {
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

