
@keyframes up {
  0% {
    margin-bottom: 0%;
  }
}
.slide-right {
    animation: 3s slide-right;
  }
  @keyframes slide-right {
    0% {
        margin-left: -100%;
        transform: translateX(0%);
    }
    100% {
        margin-left: 50%;
        transform: translateX(-50%);
    }
  }
  
  /* **** Slide Left *****/
  .slide-left {
    animation: 3s slide-left;
  }

  @keyframes slide-left {
    0% {
        margin-left: 100%;
        transform: translateX(0%);
    }
    100% {
        margin-left: 50%;
        transform: translateX(-50%);
    }
  }
  .fade-in {
  animation: fadeIn ease 3s;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

  