  .skills-container {
    width: 100%;
    background-color: #ddd;
  }
  
  .skills {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  .skills > span {
      margin-right: 25px;
  }
  /* .skillsAnimation{
    animation: 3s expandWidth;
  } */

  [data-aos="skills-scroll"] {
    margin-left: 100%;
    transition-property: margin-left;
  }

  [data-aos="skills-scroll"].aos-animate {
    margin-left: 0%;
  }
/* 
  [data-aos="skill-scroll"] {
    width: 0% !important;
    transition-property: width;
  }

  [data-aos="skill-scroll"].aos-animate {
    width: 50% !important;
  } */